<div class=" flex flex-col max-w-4xl mx-auto w-96">
    <label for="password" class="text-2xl text-blue-950 m-5">{{label|titlecase}}</label>
    <input type="password" id="password" [(ngModel)]="password" (input) ="checkPasswordStrength()" class="w-96 h-10 border-2 border-fuchsia-950 mb-5"
    >
<div class="flex space-x-3 w-96 ">
      <div [ngClass]="{  
      'empty': passwordStrength === 'empty', 
      'short': passwordStrength === 'short',
      'easy': passwordStrength === 'easy',
      'medium': passwordStrength === 'medium',
      'strong': passwordStrength === 'strong' }" 
      class="mb-5 white-section">
      </div>
      <div [ngClass]="{
      'empty': passwordStrength === 'empty', 
      'short': passwordStrength === 'short',
      'easy': passwordStrength === 'easy',
      'medium': passwordStrength === 'medium',
      'strong': passwordStrength === 'strong' }" 
      class="mb-5 white-section">
      </div>
      <div [ngClass]="{
      'empty': passwordStrength === 'empty', 
      'short': passwordStrength === 'short',
      'easy': passwordStrength === 'easy',
      'medium': passwordStrength === 'medium',
      'strong': passwordStrength === 'strong' }" 
      class="mb-5 white-section">
      </div>
</div>

</div>  
  