.white-section{
    display: block;
    width: 50px;
    height: 10px;
    background-color: grey;
}
.empty{
    background-color: grey;
}
.short{
    background-color: red;
}
.easy{
    background-color: grey;
}
 .easy:first-of-type{
    background-color: red;
}

.medium{
    background-color: yellow;
}
 .medium:last-of-type{
    background-color: gray;
}
.strong{
    background-color: green;
}